{{> header}}

		<div class="main">

			<div class="intro">
				<img src="images/monk.png" alt="Monk image">
				<div class="text-container">
					<p class="beginning-text">Patience</p>
					<p class="exclamation">! </p>
					<p class="comma">, </p>
					<p class="remaining-text">young padawan...</p>
				</div>
			</div>

			<div class="slide current-slide">
				<div class="slide-title"><h1>We are breaking our vow<br> of silence</h1></div>
				<div class="slide-text">
					<p>In January 2011, after a decade of digital, we opened the doors to our temple.</p>
					<p>Follow our noble eightfold path to digital elightenment here.</p>
				</div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Talent is given true skill is earned</h1></div>
				<div class="slide-text"><p>Step 1 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Be flexible to change and sturdy in conviction</h1></div>
				<div class="slide-text"><p>Step 2 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Use many skills yet work as one</h1></div>
				<div class="slide-text"><p>Step 3 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>To master anything find interest in everything</h1></div>
				<div class="slide-text"><p>Step 4 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Individuals flourish if culture and wisdom are shared</h1></div>
				<div class="slide-text"><p>Step 5 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Train for perfection but aim for more</h1></div>
				<div class="slide-text"><p>Step 6 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Take pride in your work but do not seek praise</h1></div>
				<div class="slide-text"><p>Step 7 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide">
				<div class="slide-title"><h1>Temporary sacrifice brings lasting results</h1></div>
				<div class="slide-text"><p>Step 8 out of 8 on the path to digital enlightenment.</p></div>
			</div>

			<div class="slide final slide">
				<div class="slide-title"><h1>Become a Monk</h1></div>
				<div class="slide-text">
					<p>Interested in joining our monastery?</p>
					<p>Check out our openings on <a href="https://www.mediamonks.com/careers">mediamonks.com/careers</a>.</p>
				</div>
				<ul>
					<li><a href="mailto:info@mediamonks.com" target="_blank"><img class="email" src="images/envelope.svg" alt="Email">Mail ons</a></li>
					<li><a href="https://www.facebook.com/mediamonks" target="_blank"><img class="facebook" src="images/facebook.svg" alt="Facebook">Facebook</a></li>
					<li><a href="https://raw.githubusercontent.com/TomWesterhout/MediaMonks-Front-End-Test/2bc84fe9/www.mediamonks.com/twitter" target="_blank"><img class="twitter" src="images/twitter.svg" alt="Twitter">Twitter</a></li>
				</ul>
			</div>

			<a class="prev"><div class="arrow-left"></div></a>
			<a class="next"><div class="arrow-right"></div></a>
			<nav class="slider-nav">
				<table>
					<tr>
						<td><span data-slide="0" class="nav-dot"></span></td>
						<td><span data-slide="1" class="nav-dot">1</span></td>
						<td><span data-slide="2" class="nav-dot">2</span></td>
						<td><span data-slide="3" class="nav-dot">3</span></td>
						<td><span data-slide="4" class="nav-dot">4</span></td>
						<td><span data-slide="5" class="nav-dot">5</span></td>
						<td><span data-slide="6" class="nav-dot">6</span></td>
						<td><span data-slide="7" class="nav-dot">7</span></td>
						<td><span data-slide="8" class="nav-dot">8</span></td>
						<td><span data-slide="9" class="nav-dot"></span></td>
					</tr>
				</table>
			</nav>
			<a href="https://www.mediamonks.com/">
				<img class="logo" src="images/logo.svg" alt="MediaMonks logo">
			</a>

		</div>

{{> footer}}
